body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}

.paragaph-1 h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    font-size: 30px;
}

.paragaph-1 p {
    font-size: 20px;
}

.paragaph-1 {
    max-width: 50%;
}

.map {
    margin: 3em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragaph-2 {
    padding: 4em 0;
    display: flex;
    flex-direction: column;
}

.audio-player {
    margin: 3em auto;
    min-width: 400px;
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    max-width: 400px; 
    text-align: center; 
} 
.audio-player audio { 
    width: 100%; 
    margin-top: 10px;
} 

audio {
    background-color: #fff;
    color: #fff;
}

.audio-title { 
    font-size: 1.2em; 
    margin-bottom: 10px; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

label {
    margin: 0.5em 0 0.2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    padding: 1em;
}

img {
    width: 500px;
}