body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

section p {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.carousel {
    width: 85%;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
}

.main-cards {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
}

.card {
    min-width: 50%;
    padding: 4%;
    box-sizing: border-box;
    text-align: center;
    background-color: #333; 
    border-radius: 8px;
    color: white;
}

.card h3 {
    margin: 0;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
