/* styles-contato.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

section p {
    color: #333;
    font-size: 16px;
}

.whatsapp-link {
    text-align: center;
    margin-top: 30px;
}

.whatsapp-link a {
    color: #25D366; /* Cor do WhatsApp */
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo do link */
    margin: 0 auto; /* Centraliza o link */
    max-width: 300px; /* Limita a largura do link */
    padding: 10px; /* Adiciona padding para melhorar a aparência */
    border: 1px solid #25D366; /* Adiciona uma borda ao redor do link */
    border-radius: 5px; /* Arredonda as bordas */
    transition: background-color 0.3s; /* Transição suave para o fundo */
}

.whatsapp-link a:hover {
    background-color: #e8f5e9; /* Muda a cor de fundo ao passar o mouse */
}

.whatsapp-link a i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
    font-size: 1.5em; /* Tamanho do ícone */
}

.contact-form {
    display: flex;
    width: 40%;
    margin: 0 auto;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #28a745; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #218838; /* Cor do botão ao passar o mouse */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
